.App {
  width: 100vw;         /* Use full viewport width */
  height: 100vh;       /* Use full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */ 
  margin-top: 5%;
}